* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  background-color: #000 !important;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

#title {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: height 0.6s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 100%;
  padding: 0 1vw;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  letter-spacing: -0.03em;
  font-weight: bold;
  font-weight: 700;
  white-space: nowrap;
}

.first-name,
.last-name {
  position: absolute;
  transition: transform 0.6s ease, opacity 0.4s ease-in-out;
  /* transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform, opacity; */
}

#first-name-1,
#last-name-1 {
  display: none;
}

.outline {
  color: #000;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}

#first-name-2,
#first-name-3,
#first-name-4 {
  transform: translateY(100%);
  opacity: 0;
}

#last-name-2,
#last-name-3,
#last-name-4 {
  transform: translateY(-100%);
  opacity: 0;
}

.first-name {
  left: 1vw;
}

.last-name {
  right: 1vw;
}

#nav-section {
  width: 100%;
  height: 70vh;
  background-color: #000;
  padding: 0 1vw;
}

.navbar {
  top: 40px;
  position: block;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  opacity: 0;
  transition: transform 1ms opacity 1s ease-in;
  z-index: 1000;
  margin-inline: 2rem;
}

#navbar a {
  color: #888;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  border: 1px solid #888;
  padding: 0.8rem;
  transition: border-color 0.4s ease-in-out, color 1.2s ease-in-out,
    border-bottom 0.4s ease-in-out;
}

.middle-anchors {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.middle-anchors a {
  margin-inline: 0.4rem;
}

#navbar a:hover {
  color: #fff;
  border: 1px solid #fff;
  border-bottom: 5px solid #fff;
}

#about {
  color: #fff;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}

#projects {
  color: #fff;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}

#contact {
  color: #fff;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}

#journey {
  color: #fff;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}

.nav-content {
  position: relative;
  flex-direction: row;
  min-width: 100px;
  height: calc(100% - 2rem - 2vw - 6px);
  display: flex;
  justify-content: space-between;
  transform: translateY(-26px);
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding: 3rem;
  gap: 1rem;
}

.nav-content .nav-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 30%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

.nav-content .nav-left {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 70%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

.nav-content .nav-left h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 500;
}

.nav-content .nav-right img {
  position: relative;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#nav-section,
#about,
#projects,
#contact,
#journey {
  display: none;
}

.gradhat {
  z-index: 100;
  position: absolute;
  height: 40%;
  top: -30px;
  left: 25%;
  transform: rotate(-23deg);
  opacity: 0;
  transform: translateY(-100px);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
